@model IEnumerable<PlantsRPetsProjeto.Server.Models.Plantation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastWatered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarvestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrowthStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperiencePoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastWatered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarvestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrowthStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperiencePoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlantationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlantationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlantationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
