@model PlantsRPetsProjeto.Server.Models.Metric

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Metric</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPlants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPlants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterSaved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterSaved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbonFootprintReduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbonFootprintReduction)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MetricId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
