@model PlantsRPetsProjeto.Server.Models.Plant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SustainabilityInfoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SustainabilityInfoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrowthTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrowthTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isGrown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isGrown)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
